services:

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    hostname: prometheus
    volumes:
      - /root/prometheus_conf:/etc/prometheus:ro
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    environment:
      TZ: "Europe/Moscow"

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    hostname: grafana
    volumes:
      - /root/grafana_dashboards:/etc/grafana/provisioning/dashboards/
      - /root/grafana_datasources:/etc/grafana/provisioning/datasources/
    ports:
      - 3000:3000
    depends_on:
      - prometheus
    environment:
      GF_SECURITY_ADMIN_PASSWORD: Admin1
      GF_SECURITY_ADMIN_USER: Admin1
      TZ: "Europe/Moscow"
